main {
  margin: 0 auto;
  max-width: 85%;
}

:root {
  --primary: seagreen;
  --secondary: cadetblue;
  --light: white;
  --dark: midnightblue;
  --pitch: black;
  --spacing-1: calc(1rem)

}

* { 
  box-sizing: border-box;
}

html,
body {
  height: 100%
}

body {
  background: var(--primary);
  color: var(--pitch);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.fx-1 {
  margin-left: var(--spacing-1);
  margin-right: var(--spacing-1);
}

.project-image {
  width: auto;
  height: 250px;
  margin-bottom: 40px;
  cursor: pointer;
}

.active {
  color: var(--light);
}

